.stories {
    .container {
        display: flex;
        flex-direction: column;
    }
    
    .box1 {
        margin-bottom: calcRem(20px);
        text-align: center;
        transform: translateX(-50px);
        opacity: 0;
        @include transition(opacity 0.5s ease-in-out, transform 0.5s ease-in-out);
    }
    
    .box2 {
        transform: translateX(50px);
        opacity: 0;
        @include transition(opacity 0.5s ease-in-out, transform 0.5s ease-in-out);
    }
    
    img {
        width: 50%;
        max-width: 300px;
        border-radius: 50%;
    }
    
    .story--title {
        margin-bottom: calcRem(10px);
    }
    
    .story--txt {
        margin-bottom: calcRem(20px);
        font-family: "open sans", "sans-serif";
        font-size: calcRem(20px);
        font-style: italic;
    }
    
    .story--name {
        font-family: "open sans", "sans-serif";
        font-size: calcRem(14px);
        
        a {
            color: $accent;
        }
    }
    
    @include desktop {
        .container {
            flex-direction: row;
        }
        
        .box1 {
            width: 35%;
        }
        
        .box2 {
            width: 60%;
        }
        
        .story--title {
            font-size: calcRem(24px);
        }
    }
}

.stories.activate .box1, .stories.activate .box2 {
    transform: translateX(0);
    opacity: 1;
}