// BREAKPOINTS
$phone-md: 22.5em; // 360px
$phone-xl: 30em; // 480px
$phablet: 37.5em; // 600px
$tablet: 48em; // 768px
$tablet-xl: 56.25em; // 900px
$desktop: 64em; // 1024px
$desktop-md: 75em; // 1200px
$desktop-xl: 112.5em; // 1800px

// COLORS
$white: #ffffff;
$black: #000000;
$accent: #00aeef;
$grey-light: #dcdcdc;
$grey-dark: #4c5152;
$grey-bg: #e8eaea;
